.DS_Store
.dart_tool/

.packages
.pub/
.idea

build/
pubspec.lock
.flutter-plugins
flutter
IDEWorkspaceChecks.plist
org.eclipse.buildship.core.prefs
Breakpoints_v2.xcbkptlist
flutter_boost2
example/android/app/.classpath
example/android/app/.project
example/android/.project
flutter_boost
example
example_new/.flutter-plugins-dependencies
example_new/android/gradlew
example_new/android/gradlew.bat
example_new/android/local.properties
example_new/android/.gradle/6.7/gc.properties
example_new/android/.gradle/6.7/executionHistory/executionHistory.bin
example_new/android/.gradle/6.7/executionHistory/executionHistory.lock
example_new/android/.gradle/6.7/fileChanges/last-build.bin
example_new/android/.gradle/6.7/fileHashes/fileHashes.bin
example_new/android/.gradle/6.7/fileHashes/fileHashes.lock
example_new/android/.gradle/6.7/fileHashes/resourceHashesCache.bin
example_new/android/.gradle/6.7/javaCompile/classAnalysis.bin
example_new/android/.gradle/6.7/javaCompile/jarAnalysis.bin
example_new/android/.gradle/6.7/javaCompile/javaCompile.lock
example_new/android/.gradle/6.7/javaCompile/taskHistory.bin
example_new/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
example_new/android/.gradle/buildOutputCleanup/cache.properties
example_new/android/.gradle/buildOutputCleanup/outputFiles.bin
example_new/android/.gradle/checksums/checksums.lock
example_new/android/.gradle/checksums/md5-checksums.bin
example_new/android/.gradle/checksums/sha1-checksums.bin
example_new/android/.gradle/configuration-cache/gc.properties
example_new/android/.gradle/vcs-1/gc.properties
example_new/android/gradle/wrapper/gradle-wrapper.jar
example_new/ios/Runner/GeneratedPluginRegistrant.h
example_new/ios/Runner/GeneratedPluginRegistrant.m
